{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Регистрация" %}{% endblock %}

{% block content %}
<div class="container">
  <h1>{% trans "Создать пользователя" %}</h1>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="{{ form.first_name.id_for_label }}" class="form-label">{% trans "Имя" %}</label>
      {{ form.first_name }}
    </div>
    <div class="mb-3">
      <label for="{{ form.last_name.id_for_label }}" class="form-label">{% trans "Фамилия" %}</label>
      {{ form.last_name }}
    </div>
    <div class="mb-3">
      <label for="{{ form.username.id_for_label }}" class="form-label">{% trans "Логин" %}</label>
      {{ form.username }}
    </div>
    <div class="mb-3">
      <label for="{{ form.password.id_for_label }}" class="form-label">{% trans "Пароль" %}</label>
      {{ form.password }}
    </div>
    <button type="submit" class="btn btn-primary">{% trans "Создать" %}</button>
  </form>
</div>
{% endblock %}
